.ViewProfile {
	text-align: left;
	margin-top: 25px;
}

.crew-image {
	height: 100%;
}

.crew-headline {
	font-weight: 500;
}

.crew-text {
	font-weight: 400;
	min-width: 100%;
	margin-top: -10px;
}

.profile-card {
	width: 50%;
	border-radius: 2;
	margin: auto;
	margin-bottom: 1%;
}

.small-card, .top-card {
	max-height: 20%;
}

.small-card, .big-card {
	padding-left: 10px;
	padding-bottom: 10px;
}

.big-card {
	max-height: 45%;
}

.roles {
	display: flex;
	flex-direction: row;
}

.role-column {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 25px;
	padding-right: 25px;
}

.rounded-header {
	max-width: 40%;
	height: 40px;
	background: #4A90E2; /* Color from Invision designs */
	background-color: rgb(0, 75, 141); /* Color from FilmIndy site */
	border-radius: 100px;
	text-align: center;
	color: white;
}

.rounded-header span {
	display: block;
	margin-top: 10px;
}

.credits {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	border-left: 2px solid rgb(0, 75, 141);
	padding-left: 10px;
}