.avatar-container {
    display:inline-block;
    list-style-type: none;
    padding:0;
    min-width:100px;
}

.element {
    margin:0;
    display:inline-block;
    cursor: pointer;
}

.unselected {
    border:4px solid transparent;
}

.unselected:hover {
    border:4px solid #B3E5FC;
}

.selected {
    border:4px solid #2281C4;
    background-color: rgba(42, 168, 255, 0.18);
}