/****** HOME PAGE STYLES ******/

#confirmPasswordInput {
    padding: 0 0 40px 0;
}

#fileContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -80px;
}

#fileText {
    margin: 0 20px 0 75px;
}

.circle-responsive {
    border: 1px solid grey;
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
  }

  .circle-content {
    float: left;
    line-height: 1;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
  }
