/****** HOME PAGE STYLES ******/

.raisedButton {
    width: 200px;
}
.accountIcon {
    margin-right: 2em;
    margin-top: 0.25em;
    cursor: pointer;
}

.logo {
    margin-left: 4em;
    width: 3.5em;
    padding: 5px;
}

.mainContent {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.searchCard {
	display: inline-block !important;
	margin: auto !important;
	margin-left: 4em !important;
    margin-bottom: 1em !important;
}

.searchIcon {
	color: #38b5e6 !important;
	margin-left: 1.25em;
	float: left;
	margin-top: 0.75em;
}

.searchField {
	float: left;
	margin-left: 1em;
}
