
/* General styles */

.accountButton {
    display: block;
    margin: auto;
    margin-top: 2em;
}

.fields {
    list-style: none;
    display: block;
    margin: auto;
    width: 100%;
}

/* Profile Card styles */

.accountHeader {
    text-align: left;
    width: 70%;
    margin: 20px auto 13px auto;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profileCard {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    padding: 1em;
}

.imageWrapper {
    margin: 1em auto 1em auto;
    width: 50%;
}

.accountImage {
    display: block;
    margin: auto;
}

.cameraIcon {
    opacity: 0;
    position: relative;
    z-index: -1;
    display: block !important;
    margin: -6em auto 4em auto;
    width: 3em !important;
    height: 3em !important;
}

.imageText {
    opacity: 1;
    cursor: pointer;
    text-align: center;
}

.profileField {
    display: block;
    margin-right: 10em;
}

/* Reset Password Card Styles */

.resetHeader {
    text-align: left;
    width: 70%;
    margin: 30px auto 13px auto;
}

.passwordField {
    display: block;
    margin-right: auto;
}

.passwordCard {
    width: 70%;
    height: auto;
    display: block;
    margin: auto auto 1em auto;
    padding: 1em;
}

/* Profile Privacy Card Styles */

.toggle {
    width: 10%;
    margin: 0 50px 0 0;
}

.privacyHeader {
    text-align: left;
    width: 70%;
    margin: 30px auto 13px auto;
}

.privacySettingsCard {
    width: 70%;
    height: auto;
    margin: auto;
    padding: 1em;
}

.toggleContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}
