
/* General styles */

.accountButton {
    display: block;
    margin: auto;
    margin-top: 2em;
}

.fields {
    list-style: none;
    display: block;
    margin: auto;
    width: 100%;
}

/* Profile Card styles */

.profileCard {
    width: 40%;
    height: auto;
    margin-top: 1em !important;
    display: block;
    margin: auto;
    padding: 1em;
}

.imageWrapper {
    margin-top: 2em;
    width: 100%;
}

.imageWrapper img {
    width: 100%;
}

.accountImage {
    display: block;
    margin: auto;
    transition: .3s all;
}

.cameraIcon {
    opacity: 0;
    position: relative;
    z-index: -1;
    display: block !important;
    margin: auto;
    width: 3em !important;
    height: 3em !important;

    margin-top: -6em;
    margin-bottom: 4em;
}

.imageText {
    opacity: 1;
    cursor: pointer;
    text-align: center;
}

.profileField {
    display: block;
    margin-right: 10em;

}

/* Reset Password Card Styles */

.passwordField {
    display: block;
    margin-right: auto;
}

.passwordCard {
    width: 40%;
    height: auto;
    margin-top: 3em !important;
    display: block;
    margin: auto;
    padding: 1em;
    margin-bottom: 1em;
}
