@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* { font-family: 'Roboto'; }

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-subheader {
    background-color: #38b5e6; /* Film Indy's light blue */
    height: 20px;
    padding-top: 10px;
    padding-bottom: 45px;
    width: 30%;
    margin: auto;
    color: white;
}

.App-docs {
    color: #004b8d;
    padding-right: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/****** APP BAR STYLES ******/

.raisedButton {
    width: 200px;
}
.accountIcon {
    margin-right: 1em;
    margin-top: 0.25em;
    cursor: pointer;
}

.logo {
    margin-left: 4em;
    width: 3.5em;
    padding: 5px;
    cursor: pointer;
}

.mainContent {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.searchCard {
	display: inline-block !important;
	margin: auto !important;
	margin-left: 4em !important;
    margin-bottom: 1em !important;
}

.searchIcon {
	color: #38b5e6 !important;
	margin-left: 1.25em;
	float: left;
	margin-top: 0.75em;
}

.searchField {
	float: left;
	margin-left: 1em;
}
