@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* { font-family: 'Roboto'; }

a { text-decoration: none; }

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-subheader {
    background-color: #38b5e6; /* Film Indy's light blue */
    height: 20px;
    padding-top: 10px;
    padding-bottom: 45px;
    width: 30%;
    margin: auto;
    color: white;
}

.App-docs {
    color: #004b8d;
    padding-right: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/****** APP BAR STYLES ******/

.raisedButton {
    width: 200px;
}

.avatar-wrapper {
  cursor: pointer;
}

/* prevents Avatar component images from stretching */
.avatar {
  object-fit: cover;
  border: 0;
}

.accountIcon {
    margin-right: 1em;
    margin-top: 0.25em;
    cursor: pointer;
    border: 2px solid white !important;
    width: 60px !important;
    height: 60px !important;
}

.arrowIcon {
  color: white !important;
  width: 35px !important;
  height: 35px !important;
  margin-left: -25px !important;
  margin-bottom: 5px !important;
}

.accountLogin {
  margin-top: 18px !important;
  margin-right: 1em;
  cursor: pointer;
}

.logo {
    margin-left: 4em;
    width: 3.5em;
    padding: 5px;
    cursor: pointer;
}

.mainContent {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.menuSearchCard {
  position: relative;
  display: block !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  margin-left: 4em !important;
}

.searchIcon {
  color: #38b5e6 !important;
  margin-left: 1.25em;
  float: left;
  margin-top: 0.75em;
}

.searchButton {
  height: 30px !important;
  margin-top: 5px !important;
  margin-left: 30px !important;
  margin-right: 10px !important;
}

@media (max-width: 400px) {
  .logo {
    margin-left: 0;
    width: 2em;
  }

  .menuSearchCard {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .menuSearchCard div, .menuSearchCard input {
    width: auto !important;
  }

  .accountIcon {
    width: 30px !important;
    height: 30px !important;
  }

  .searchButton {
    height: 30px !important;
    margin-top: 5px !important;
    margin-left: 0px !important;
  }
}
